// Update this file : Rename to aws-exports.js and fill out
// required values in file from AWS

const awsExports = {
  aws_appsync_authenticationType: "API_KEY",
  aws_appsync_apiKey: "your api key",
  aws_appsync_apiEndpoint: "your appsync api endpoint",
  aws_project_region: "your project region",
  aws_user_files_s3_bucket: "your s3 bucket name",
};

module.exports = awsExports;
